<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>My Daily Goals</h1>
</div>

<!-- Emotional Component -->
<div class="emotional">
  <h1>Emotional Goals</h1>
  <app-emotional></app-emotional>
</div>

<!-- Physical Component -->
<div class="physical">
  <h1>Physical Goals</h1>
  <app-physical></app-physical>
</div>

<!-- Intellectual Component -->
<div class="intellectual">
  <h1>Intellectual Goals</h1>
  <app-intellectual></app-intellectual>
</div>

<!-- Spiritual Component -->
<div class="spiritual">
  <h1>Spiritual Goals</h1>
  <app-spiritual></app-spiritual>
</div>

<router-outlet></router-outlet>
